
* {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}


a:link {
    text-decoration: none;
}

.rishi_gupta {
  font-size: 1.5em;
}

.featured_work {
  color: #bcbbbb;
  font-weight: 400;
  letter-spacing: 1px;
  padding-left: 10px;
}

.divider {
  background-color: #bcbbbb;
  height: 5px;
}

.project_title {
  font-weight: 400;
  color: #747704;
  font-size: 1.5em;
}

.project_description {
  font-size: 0.75em;
  font-weight: 300;
  color: #747704;
  font-size: 1em;
}

.divider {
  padding-bottom: 2px;
  padding-top: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.portfolio_image {
  width: 100%;
  overflow: hidden;
}